<body>

    <main>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <h2 class="breadcrumb-wrapper__title">FAQ’s</h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a href="@Url.Action("Index")">Home</a></li>
                        <li><span>FAQ’s</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- FAQ’s Start -->
        <div class="faq-section section-padding-2">
            <div class="container-fluid faq-container">
                <!-- FAQ’s Wrapper Start -->
                <div class="faq-wrapper">
                    <!-- FAQ’s Start -->
                    <div class="faq-accordion">
                        <h2 class="faq-accordion__title">
                     Plant Nest  Information 
                        </h2>

                        <div class="accordion">
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqOne">
                                    <span class="text">
                                        What is Plant Nest?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>

                                <div id="faqOne" class="accordion-collapse collapse">
                                    <p>
                                        Plant Nest is an online platform dedicated to plant enthusiasts and gardeners. It's a hub for sharing knowledge, connecting with fellow plant lovers, and finding resources to help you nurture and grow your plants successfully.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqTwo">
                                    <span class="text">How can I join Plant Nest?</span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>

                                <div id="faqTwo" class="accordion-collapse collapse">
                                    <p>
                                        Joining Plant Nest is easy! Simply click on the "Sign Up" button on the homepage and follow the instructions to create your account. You can also sign up using your Google or Facebook account for added convenience.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqThree">
                                    <span class="text">
                                        Is Plant Nest free to use?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>
                                <div id="faqThree" class="accordion-collapse collapse">
                                    <p>
                                        Yes, Plant Nest offers a free basic membership that allows you to access most of the platform's features. However, we also offer a premium membership with additional benefits like exclusive content, advanced plant care guides, and special discounts on gardening supplies.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqFour">
                                    <span class="text">
                                        How do I post on Plant Nest?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>
                                <div id="faqFour" class="accordion-collapse collapse">
                                    <p>
                                        To share your plant experiences or seek advice, click on the "Post" button in the navigation menu. You can then choose to write an article, ask a question, or share a photo of your plant. Add relevant tags to make your post easily discoverable by others.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqFive">
                                    <span class="text">
                                        Can I ask specific plant-related questions?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>
                                <div id="faqFive" class="accordion-collapse collapse">
                                    <p>
                                        Absolutely! Plant Nest is designed for plant enthusiasts of all levels. You can ask any plant-related question you have, whether it's about care tips, identification, troubleshooting plant problems, or even design ideas for your garden.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ’s End -->
                    <!-- FAQ’s Start -->
                    <div class="faq-accordion">
                        <h2 class="faq-accordion__title">
                            Plant Nest Information
                        </h2>

                        <div class="accordion">
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqSix">
                                    <span class="text">
                                        How can I find answers to my plant-related questions?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>

                                <div id="faqSix" class="accordion-collapse collapse">
                                    <p>
                                        You can find answers by exploring the "Questions" section on Plant Nest. Browse through previously answered questions or use the search bar to look for specific topics. You can also follow tags related to your interests to get updates on relevant discussions.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqSeven">
                                    <span class="text">How do I connect with other plant enthusiasts?</span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>

                                <div id="faqSeven" class="accordion-collapse collapse">
                                    <p>
                                        Plant Nest encourages community interaction. You can follow other users, like and comment on their posts, and send direct messages to connect and share your passion for plants.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqEight">
                                    <span class="text">
                                        What are "Plant Journals" on Plant Nest?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>
                                <div id="faqEight" class="accordion-collapse collapse">
                                    <p>
                                        Plant Journals are a feature that allows you to create a digital record of your plant's growth journey. You can upload photos, jot down notes about care routines, and track milestones over time. It's a great way to document your plant's progress and learn from your experiences.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqNine">
                                    <span class="text">
                                        Can I sell or trade plants on Plant Nest?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>
                                <div id="faqNine" class="accordion-collapse collapse">
                                    <p>
                                        Yes, Plant Nest provides a marketplace section where you can list plants, cuttings, seeds, and gardening supplies for sale or trade. However, please ensure that you follow all relevant laws and regulations regarding plant trading and sales.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqTen">
                                    <span class="text">
                                        How do I report inappropriate content or users?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>
                                <div id="faqTen" class="accordion-collapse collapse">
                                    <p>
                                        If you come across any content or users that violate our community guidelines, there's an option to report them. Simply click on the "Report" button located on the post or user's profile, and our moderation team will review the report and take appropriate action.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ’s End -->
                    <!-- FAQ’s Button Start -->
                    <div class="faq-button">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <!-- FAQ’s Button Start -->
                                <a href="#" class="faq-button__btn">Have more question ?</a>
                                <!-- FAQ’s Button End -->
                            </div>
                            <div class="col-md-6">
                                <!-- FAQ’s Button Start -->
                                <a href="#" class="faq-button__btn">Need a Quick Support ?</a>
                                <!-- FAQ’s Button End -->
                            </div>
                        </div>
                    </div>
                    <!-- FAQ’s Button End -->
                </div>
                <!-- FAQ’s Wrapper End -->
            </div>
        </div>
        <!-- FAQ’s End -->
    </main>

</body>

