<body>

    <main>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <h2 class="breadcrumb-wrapper__title">FAQ’s</h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a href="@Url.Action("Index")">Home</a></li>
                        <li><span>FAQ’s</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- FAQ’s Start -->
        <div class="faq-section section-padding-2">
            <div class="container-fluid faq-container">
                <!-- FAQ’s Wrapper Start -->
                <div class="faq-wrapper">
                    <!-- FAQ’s Start -->
                    <div class="faq-accordion">
                        <h2 class="faq-accordion__title">
Plant Nest                        </h2>

                        <div class="accordion">
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqOne">
                                    <span class="text">
                                        Delivery charges for orders from
                                        the Online Shop?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>

                                <div id="faqOne" class="accordion-collapse collapse">
                                    <p>
                                        A placerat ac vestibulum integer
                                        vehicula suspendisse nostra aptent
                                        fermentum tempor a magna erat ligula
                                        parturient curae sem conubia
                                        vestibulum ac inceptos sodales
                                        condimentum cursus nunc mi
                                        consectetur condimentum
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqTwo">
                                    <span class="text">How long will delivery take?</span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>

                                <div id="faqTwo" class="accordion-collapse collapse">
                                    <p>
                                        A placerat ac vestibulum integer
                                        vehicula suspendisse nostra aptent
                                        fermentum tempor a magna erat ligula
                                        parturient curae sem conubia
                                        vestibulum ac inceptos sodales
                                        condimentum cursus nunc mi
                                        consectetur condimentum
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqThree">
                                    <span class="text">
                                        What exactly happens after
                                        ordering?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>
                                <div id="faqThree" class="accordion-collapse collapse">
                                    <p>
                                        A placerat ac vestibulum integer
                                        vehicula suspendisse nostra aptent
                                        fermentum tempor a magna erat ligula
                                        parturient curae sem conubia
                                        vestibulum ac inceptos sodales
                                        condimentum cursus nunc mi
                                        consectetur condimentum
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqFour">
                                    <span class="text">
                                        Do I receive an invoice for my
                                        order?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>
                                <div id="faqFour" class="accordion-collapse collapse">
                                    <p>
                                        A placerat ac vestibulum integer
                                        vehicula suspendisse nostra aptent
                                        fermentum tempor a magna erat ligula
                                        parturient curae sem conubia
                                        vestibulum ac inceptos sodales
                                        condimentum cursus nunc mi
                                        consectetur condimentum
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqFive">
                                    <span class="text">
                                        Tellus ridicdiam eleifend id
                                        ullamcorper?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>
                                <div id="faqFive" class="accordion-collapse collapse">
                                    <p>
                                        A placerat ac vestibulum integer
                                        vehicula suspendisse nostra aptent
                                        fermentum tempor a magna erat ligula
                                        parturient curae sem conubia
                                        vestibulum ac inceptos sodales
                                        condimentum cursus nunc mi
                                        consectetur condimentum
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ’s End -->
                    <!-- FAQ’s Start -->
                    <div class="faq-accordion">
                        <h2 class="faq-accordion__title">
                            Shopping Information
                        </h2>

                        <div class="accordion">
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqSix">
                                    <span class="text">
                                        When the order payment is taken of
                                        my bank account?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>

                                <div id="faqSix" class="accordion-collapse collapse">
                                    <p>
                                        A placerat ac vestibulum integer
                                        vehicula suspendisse nostra aptent
                                        fermentum tempor a magna erat ligula
                                        parturient curae sem conubia
                                        vestibulum ac inceptos sodales
                                        condimentum cursus nunc mi
                                        consectetur condimentum
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqSeven">
                                    <span class="text">What is wishlist?</span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>

                                <div id="faqSeven" class="accordion-collapse collapse">
                                    <p>
                                        A placerat ac vestibulum integer
                                        vehicula suspendisse nostra aptent
                                        fermentum tempor a magna erat ligula
                                        parturient curae sem conubia
                                        vestibulum ac inceptos sodales
                                        condimentum cursus nunc mi
                                        consectetur condimentum
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqEight">
                                    <span class="text">
                                        What should I do if I receive a
                                        damaged or wrong product?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>
                                <div id="faqEight" class="accordion-collapse collapse">
                                    <p>
                                        A placerat ac vestibulum integer
                                        vehicula suspendisse nostra aptent
                                        fermentum tempor a magna erat ligula
                                        parturient curae sem conubia
                                        vestibulum ac inceptos sodales
                                        condimentum cursus nunc mi
                                        consectetur condimentum
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqNine">
                                    <span class="text">
                                        Can I change or cancel my
                                        order?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>
                                <div id="faqNine" class="accordion-collapse collapse">
                                    <p>
                                        A placerat ac vestibulum integer
                                        vehicula suspendisse nostra aptent
                                        fermentum tempor a magna erat ligula
                                        parturient curae sem conubia
                                        vestibulum ac inceptos sodales
                                        condimentum cursus nunc mi
                                        consectetur condimentum
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqTen">
                                    <span class="text">
                                        What is “package tracking” in my
                                        orders?
                                    </span>
                                    <span class="icon">
                                        <i class="lastudioicon-down-arrow"></i>
                                    </span>
                                </button>
                                <div id="faqTen" class="accordion-collapse collapse">
                                    <p>
                                        A placerat ac vestibulum integer
                                        vehicula suspendisse nostra aptent
                                        fermentum tempor a magna erat ligula
                                        parturient curae sem conubia
                                        vestibulum ac inceptos sodales
                                        condimentum cursus nunc mi
                                        consectetur condimentum
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ’s End -->
                    <!-- FAQ’s Button Start -->
                    <div class="faq-button">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <!-- FAQ’s Button Start -->
                                <a href="#" class="faq-button__btn">Have more question ?</a>
                                <!-- FAQ’s Button End -->
                            </div>
                            <div class="col-md-6">
                                <!-- FAQ’s Button Start -->
                                <a href="#" class="faq-button__btn">Need a Quick Support ?</a>
                                <!-- FAQ’s Button End -->
                            </div>
                        </div>
                    </div>
                    <!-- FAQ’s Button End -->
                </div>
                <!-- FAQ’s Wrapper End -->
            </div>
        </div>
        <!-- FAQ’s End -->
        <!-- Newsletter Start -->
        <!-- Newsletter Start -->
        <div class="newsletter-section">
            <div class="newsletter-left" style="background-image: url(/Template/assets/images/newsletter-bg-1.jpg)">
                <!-- Newsletter Wrapper Start -->
                <div class="newsletter-wrapper text-center">
                    <h4 class="newsletter-wrapper__title">Follow us on</h4>
                    <p>
                        Proin volutpat vitae libero at tincidunt. Maecenas sapien
                        lectus, vehicula vel euismod sed, vulputate
                    </p>

                    <div class="newsletter-social">
                        <ul class="newsletter-social__list">
                            <li>
                                <a href="#" aria-label="facebook">
                                    <i class="lastudioicon-b-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="twitter">
                                    <i class="lastudioicon-b-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="instagram">
                                    <i class="lastudioicon-b-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="vimeo">
                                    <i class="lastudioicon-b-vimeo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="envato">
                                    <i class="lastudioicon-envato"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Newsletter Wrapper End -->
            </div>
            <div class="newsletter-right" style="background-image: url(/Template/assets/images/newsletter-bg-2.jpg)">
                <!-- Newsletter Wrapper Start -->
                <div class="newsletter-wrapper text-center">
                    <h4 class="newsletter-wrapper__title">10% off when you sign up</h4>
                    <p>
                        Proin volutpat vitae libero at tincidunt. Maecenas sapien
                        lectus, vehicula vel euismod sed, vulputate
                    </p>
                    <form action="#">
                        <div class="newsletter-form-style-1">
                            <input type="text" placeholder="Enter your email address..." />
                            <button>Subscribe</button>
                        </div>
                    </form>
                </div>
                <!-- Newsletter Wrapper End -->
            </div>
        </div>
        <!-- Newsletter End -->
        <!-- Newsletter End -->
    </main>

</body>

