<head>
    <title>Search</title>
</head>
<body>

    <main style="margin-bottom:50px;">
    <div class="product-section section-padding-1">
        <div class="container-fluid custom-container">
            <div class="product-wrapper">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="all">
                        <div class="row">
                            @foreach (var product in Model)
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="single-product js-scroll ShortFadeInUp scrolled">
                                        <div class="single-product__thumbnail">
                                            <div class="single-product__thumbnail--meta-3">
                                                <a href="#" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Add to wishlist" data-bs-custom-class="p-meta-tooltip" aria-label="wishlist">
                                                    <i class="lastudioicon-heart-2"></i>
                                                </a>
                                            </div>
                                            <div class="single-product__thumbnail--badge onsale">
                                                Sale
                                            </div>
                                            <div class="single-product__thumbnail--holder">
                                                <a href="product-single.html">
                                                    <img src="@Url.Content(product.pro_images[0])" alt="Product" width="344" height="370" loading="lazy" loading="lazy" />
                                                    <img class="product-hover" src="@Url.Content(product.pro_images[1])" alt="Product" width="344" height="370" loading="lazy" loading="lazy" />
                                                </a>
                                            </div>
                                            <div class="single-product__thumbnail--meta-2">
                                                <a href="#" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Add to cart" data-bs-custom-class="p-meta-tooltip" aria-label="cart">
                                                    <i class="lastudioicon-shopping-cart-3"></i>
                                                </a>
                                                <button data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Quickview" data-bs-custom-class="p-meta-tooltip" data-bs-toggle="modal" data-bs-target="#quickView" aria-label="zoom-in">
                                                    <i class="lastudioicon-search-zoom-in"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="single-product__info">
                                            <div class="single-product__info--tags">
                                                <a href="#">Plant</a>
                                            </div>
                                            <h3 class="single-product__info--title">
                                                <a href="product-single.html">@product.pro_name</a>
                                            </h3>
                                            <div class="single-product__info--price">
                                                <ins>@product.pro_price.ToString("C")</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </main>
</body>