<head>
    <title>Term Of Use</title>
</head>
<body>

    <main>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <h2 class="breadcrumb-wrapper__title">Term Of Use</h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a href="@Url.Action("Index")">Home</a></li>
                        <li><span>Term Of Use</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- Term Of Use Start -->
        <div class="term-use-section section-padding-2">
            <div class="container-fluid faq-container">
                <!-- Term Of Use Wrapper Start -->
                <div class="term-use-wrapper">
                    <!-- Term Of Use Item Start -->
                    <div class="term-use-item">
                        <h3 class="term-use-item__title">Acceptance of Terms:</h3>
                        <ul class="term-use-item__list">
                            <li>By accessing and using the Plant Nest website, you agree to be bound by these Terms of Use. If you do not agree with these terms, please do not use the website.</li></li>
                           
                        </ul>
                    </div>
                    <!-- Term Of Use Item End -->
                    <!-- Term Of Use Item Start -->
                    <div class="term-use-item">
                        <h3 class="term-use-item__title">
                            Changes to Terms
                        </h3>
                        <ul class="term-use-item__list">
                            <li>We reserve the right to modify or revise these Terms at any time. The most current version of these Terms will be posted on the Website. By continuing to access or use the Website after any changes to these Terms have been made, you agree to be bound by the revised Terms.</li></li>
                        </ul>
                    </div>
                    <!-- Term Of Use Item End -->
                    <!-- Term Of Use Item Start -->
                    <div class="term-use-item">
                        <h3 class="term-use-item__title">
                            Website Content
                        </h3>
                        <ul class="term-use-item__list">
                            <li>
                                Plant Nest provides information about plants, gardening, and related subjects. While we strive to provide accurate and up-to-date information, the content on our website is for general informational purposes only. We do not guarantee the accuracy or completeness of the information.
                            </li>
                        </ul>
                    </div>
                    <!-- Term Of Use Item End -->
                    <!-- Term Of Use Button Start -->
                    <div class="faq-button">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <!-- Term Of Use Button Start -->
                                <a href="#" class="faq-button__btn">
                                    Have more question ?
                                </a>
                                <!-- Term Of Use Button End -->
                            </div>
                            <div class="col-md-6">
                                <!-- Term Of Use Button Start -->
                                <a href="#" class="faq-button__btn">
                                    Need a Quick Support ?
                                </a>
                                <!-- Term Of Use Button End -->
                            </div>
                        </div>
                    </div>
                    <!-- Term Of Use Button End -->
                </div>
                <!-- Term Of Use Wrapper End -->
            </div>
        </div>
        <!-- Term Of Use End -->
    </main>

</body>
