<head>
    <title>Term Of Use</title>
</head>
<body>

    <main>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <h2 class="breadcrumb-wrapper__title">Term Of Use</h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a href="@Url.Action("Index")">Home</a></li>
                        <li><span>Term Of Use</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- Term Of Use Start -->
        <div class="term-use-section section-padding-2">
            <div class="container-fluid faq-container">
                <!-- Term Of Use Wrapper Start -->
                <div class="term-use-wrapper">
                    <!-- Term Of Use Item Start -->
                    <div class="term-use-item">
                        <h3 class="term-use-item__title">Payment Policy</h3>
                        <ul class="term-use-item__list">
                            <li>01. PayPal Express Checkout</li>
                            <li>
                                02. You can pay with your credit card if you
                                don’t have a PayPal account.
                            </li>
                            <li>
                                03. USA Tax Invoice would be attached and
                                send with the item.
                            </li>
                        </ul>
                    </div>
                    <!-- Term Of Use Item End -->
                    <!-- Term Of Use Item Start -->
                    <div class="term-use-item">
                        <h3 class="term-use-item__title">
                            Shipment Policy
                        </h3>
                        <ul class="term-use-item__list">
                            <li>01. We ship worldwide</li>
                            <li>
                                02. All our international shipments are
                                fully insured, sent with a tracking number,
                                and will be shipped 3-4 days after payment.
                            </li>
                            <li>
                                3. Items shipped from our studio in ramot
                                menashe USA via ECO post. It takes around
                                1-3 weeks getting to the US and Europe.
                            </li>
                            <li>
                                4. Deliveries overseas may be charged in
                                coasts of costumes (import tax) or Vat
                                (value added tax) according to the states
                                specific law. These charges are hard to
                                predict and are out of our control. Any
                                charge of this kind will be paid by the
                                purchaser.
                            </li>
                            <li>
                                5. We will not be held responsible for
                                delays or lost items due to customs or
                                postal services, moreover if needed, you are
                                responsible for picking up your item at your
                                nearest post office.
                            </li>
                        </ul>
                    </div>
                    <!-- Term Of Use Item End -->
                    <!-- Term Of Use Item Start -->
                    <div class="term-use-item">
                        <h3 class="term-use-item__title">
                            Exchange Policy
                        </h3>
                        <ul class="term-use-item__list">
                            <li>
                                1. Exchange or return may be made 14 days
                                from the day of receiving the item, along
                                with the tax invoice receipt.
                            </li>
                            <li>
                                2. Address of shipping for exchange/return:
                                Aviva Talmon Kibutz Ramot Menashe 19245
                                Israel. For any other question please
                                contact us at – maia@example.com
                            </li>
                        </ul>
                    </div>
                    <!-- Term Of Use Item End -->
                    <!-- Term Of Use Button Start -->
                    <div class="faq-button">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <!-- Term Of Use Button Start -->
                                <a href="#" class="faq-button__btn">
                                    Have more question ?
                                </a>
                                <!-- Term Of Use Button End -->
                            </div>
                            <div class="col-md-6">
                                <!-- Term Of Use Button Start -->
                                <a href="#" class="faq-button__btn">
                                    Need a Quick Support ?
                                </a>
                                <!-- Term Of Use Button End -->
                            </div>
                        </div>
                    </div>
                    <!-- Term Of Use Button End -->
                </div>
                <!-- Term Of Use Wrapper End -->
            </div>
        </div>
        <!-- Term Of Use End -->
        <!-- Newsletter Start -->
        <!-- Newsletter Start -->
        <div class="newsletter-section">
            <div class="newsletter-left" style="background-image: url(/Template/assets/images/newsletter-bg-1.jpg)">
                <!-- Newsletter Wrapper Start -->
                <div class="newsletter-wrapper text-center">
                    <h4 class="newsletter-wrapper__title">Follow us on</h4>
                    <p>
                        Proin volutpat vitae libero at tincidunt. Maecenas sapien
                        lectus, vehicula vel euismod sed, vulputate
                    </p>

                    <div class="newsletter-social">
                        <ul class="newsletter-social__list">
                            <li>
                                <a href="#" aria-label="facebook">
                                    <i class="lastudioicon-b-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="twitter">
                                    <i class="lastudioicon-b-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="instagram">
                                    <i class="lastudioicon-b-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="vimeo">
                                    <i class="lastudioicon-b-vimeo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="envato">
                                    <i class="lastudioicon-envato"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Newsletter Wrapper End -->
            </div>
            <div class="newsletter-right" style="background-image: url(/Template/assets/images/newsletter-bg-2.jpg)">
                <!-- Newsletter Wrapper Start -->
                <div class="newsletter-wrapper text-center">
                    <h4 class="newsletter-wrapper__title">10% off when you sign up</h4>
                    <p>
                        Proin volutpat vitae libero at tincidunt. Maecenas sapien
                        lectus, vehicula vel euismod sed, vulputate
                    </p>
                    <form action="#">
                        <div class="newsletter-form-style-1">
                            <input type="text" placeholder="Enter your email address..." />
                            <button>Subscribe</button>
                        </div>
                    </form>
                </div>
                <!-- Newsletter Wrapper End -->
            </div>
        </div>
        <!-- Newsletter End -->
        <!-- Newsletter End -->
    </main>

</body>
